# .gitignore kann nur Files ignorieren, die nicht getrackt werden.
# Falls ein File getrackt wird, dann mit "git rm <file>" untracken

__pycache__
env
Archiv
fasterrcnn_model
Annotationas_aus_PDF
trainings_data/image
trainings_data/csv
trainings_data/image
trainings_data/json_fenster
trainings_data/json_wand
trainings_data/makesense_ai
Notizen_FL.txt






