# .gitignore kann nur Files ignorieren, die nicht getrackt werden.
# Falls ein File getrackt wird, dann mit "git rm <file>" untracken

# Ordner ignorieren
__pycache__
env
Archiv
fasterrcnn_model
trainings_data
static/uploads
static/temp
static/reports
projects
static/js/mainone_file.js

# Einzelne Datei ignorieren
Notizen_FL.txt
requirements.txt
after_preprocessing.png
before_preprocessing.png

# Alle temporären Dateien ignorieren
*.tmp



