# .gitignore kann nur Files ignorieren, die nicht getrackt werden.
# Falls ein File getrackt wird, dann mit "git rm <file>" untracken

# Ordner ignorieren
__pycache__
env
Archiv
fasterrcnn_model
trainings_data
static/uploads
static/temp
static/reports
projects
bug_reports
static/js/mainone_file.js
performance_optimierung
node_modules
UI
db.sqlite3
core/management/commands/Ergebnisse

# Einzelne Datei ignorieren
Notizen_FL.md
after_preprocessing.png
before_preprocessing.png
Gechäftsmodell.md


# Alle temporären Dateien ignorieren
*.tmp



