{% extends "base.html" %}

{% block title %}Impressum | Planli{% endblock %}
{% block heading %}Impressum{% endblock %}

{% block content %}
        <h2>Kontaktadresse</h2>
        <p>
            Bauphysik Lengg<br>
            Rathausgasse 8<br>
            5000 Aarau<br>
            Schweiz
        </p>

        <h2>Kontakt</h2>
        <p>
            Telefon: +41 608 59 09<br>
            E-Mail: <a href="mailto:info@planli.net">info@planli.net</a>
        </p>

        <h2>Handelsregistereintrag</h2>
        <p>
            Bauphysik Lengg<br>
            CHE-436.392.751
        </p>

        <h2>Haftungsausschluss</h2>
        <p>
            Die Inhalte dieser Website wurden mit grösstmöglicher Sorgfalt erstellt.
            Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte übernehmen
            wir jedoch keine Gewähr. Als Diensteanbieter sind wir für eigene Inhalte
            verantwortlich. Für externe Links übernehmen wir keine Haftung, da wir
            auf deren Inhalte keinen Einfluss haben.
        </p>

        <h2>Urheberrecht</h2>
        <p>
            Die durch den Betreiber erstellten Inhalte und Werke auf dieser Website
            unterliegen dem Schweizer Urheberrecht. Die Vervielfältigung, Bearbeitung
            und jede Art der Verwertung ausserhalb der Grenzen des Urheberrechts
            bedürfen der schriftlichen Zustimmung des jeweiligen Autors.
        </p>
{% endblock %}
